.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-modal {
  font-family: 'Roboto', sans-serif;

  background-color: #fcfcfc;

  border-radius: 4px;
  padding: 72px 24px 24px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  max-width: 408px;
  height: 584px;
  /* height: 80%; */
  overflow-y: auto;

  position: relative;
}

.contact-form {
  max-width: 408px;
  /* height: 584px; */

  background-color: #fcfcfc;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* gap: 8px; */
}
.input-container {
  position: relative;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* padding: 3px 8px; */
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #e7e9fc;
  fill: #2e2f42;

  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #ffffff;
}
.contact-form label {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 4px;
}

.contact-form input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 0 8px 38px;
  position: relative;
  background-color: #fcfcfc;

  width: 360px;
  height: 40px;
  max-width: 360px;
  min-height: 40px;
  outline: transparent;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  /* left: 16px; */
  bottom: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;

  top: 50%;
  transform: translateY(-30%);
  left: 16px;
}

.contact-form input:focus,
.contact-form input:focus + .form-icon {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}
.contact-form textarea {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  /* color: rgba(46, 47, 66, 0.4); */
  background-color: #fcfcfc;
  outline: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  margin-bottom: 16px;

  resize: none;
  /* position: relative; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.send-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 24px 95.5px 0;

  padding: 16px 65px;

  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #ffffff;

  cursor: pointer;
  display: block;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

.instruction {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  align-self: center;
  color: #2e2f42;

  /* padding-bottom: 8px; */
  /* margin-bottom: 8px; */
  margin-bottom: 16px;
}

.check-container {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px; */
  width: 360px;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
/* Align the custom checkbox and text vertically */
.check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
  margin: 0;
}
.check-box.sr-only {
  /* width: 16px;
  height: 16px; */
  /* margin: 0;
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgba(46, 47, 66, 0.4); */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-icon {
  /* fill: transparent; */
  /* stroke: transparent; */
  fill: #f4f4fd;
  /* stroke: rgba(46, 47, 66, 0.4); */
  align-self: center;
  /* position: absolute; */
  cursor: pointer;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-box:checked + .check-label > .custom-checkbox {
  background-color: #404bbf;
  /* fill: #ffffff; */
  /* stroke: #ffffff; */
  /* opacity: 1; */
}
.check-box:checked + .check-label .check-icon {
  opacity: 1;
}
.check-container label {
  margin: 0;
}

.check-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-self: center;
  /* margin-left: 24px; */
}
textarea:active,
textarea:focus {
  border-color: #4d5ae5;
}

.check-container span .link {
  color: #4d5ae5;
  text-decoration: underline;
}
